/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 62.5%;
  /* only works if nothing absolutrly */
  overflow-x: hidden;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

/**************************/
/* HERO-HEADER */
/**************************/
.header {
  height: 100vh;
  width: 100%;
  background: no-repeat url('../img/hero-img/hero-img-6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  /* Because we want header to be sticky later */
  height: 7.4rem;
  backdrop-filter: blur(1px);
  z-index: 999; 
}
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  backdrop-filter: blur(10px);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255,0.8); 
}

.main-logo {
  height: 4.4rem;
  color: hsl(120, 98%, 16%);;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  padding: 1rem;
  margin-right: 30rem;
  margin-left: 10rem;
  position: relative;
}
.main-logo a {
  font-size: 4.4rem;
  color: green;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}
.car-logo {
  height: 8rem;
  width: 8rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.main-logo-link {
  font-size: 4.4rem;
  cursor: pointer;
}

.main-logo-link:link,
.main-logo-link:visited {
  color: hsl(120, 98%, 16%);;
  text-decoration:none;
}

/**************************/
  /* NAVIGATION */
  /**************************/
  .main-nav {
    padding-right: 15rem;
  }
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
    font-size: 1.85rem;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: green;
    text-decoration: underline;
  }
  
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: hsl(210, 100%, 12%);
  }
  
  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: hsl(120, 98%, 16%);
    text-decoration: none;
  }

  .flags {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 11rem;
    margin-left: 6rem;
    margin-top: 1.5rem;
  }
  .ru-flag {
    height: 5rem;
    width: 5rem;
  }
  .us-flag {
    height: 4.8rem;
    width: 4.8rem;
  }
  /**************************/
  /* HERO PANEL */
  /**************************/
  .header-main-text {
    color: white;
    font-size: 2rem;
    width: 100rem;
    text-decoration: underline;
    top: 35rem;
    left: 5rem;
    /* margin-left: 10rem;
    margin-top: 30rem; */
    height: 10rem;
    position: absolute;
  }
  .header-main-text h1 {
    font-family: 'Raleway', sans-serif;
  }
  .section-hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.temp {
  height: 120rem;
  background: url("../img/hero-img/hero-img-6.jpg");
  background-size: cover;
}