@media (max-width: 1200px) {
  
  .main-logo {
    margin-left: 4.2rem;
  }

  .flag-container {
    margin-right: 4.2rem;
  }
  .testimonial-section {
    margin: 0 8rem 4rem 8rem;
  }
  .car-categories {
    margin: 1rem 4rem;
    margin-bottom: 6rem;
  }

  .car-categories-wrapper {
    gap: 2.6rem;

    grid-template-columns: repeat(3,1fr);
  }
  .advantages {
    margin: 4rem 9rem 0rem 9rem;
  }
}


@media (max-width: 1000px) {
  
  .main-logo {
    margin-left: 2.4rem;
  }

  .main-nav-list {
    gap: 1rem;
  }

  .flag-container {
    margin-right: 2.4rem;
  }

  .mc-code .mc-label{
    font-size: 1.6rem;
  }
  .contact-number .contact span {
    font-size: 1.6rem;
  }

}

@media (max-width: 900px) {
  html { font-size: 55%; }

  .header {
    height:65vh;
    background: url("../img/hero-img/hero-img-3.webp");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-logo {
    margin-left: 1rem;
  }

  .main-nav-list {
    margin-right: 1rem;
  }

  .header-main-text {
    text-align: center;
    margin: auto auto;
  }

  .car-categories {
    margin: 2rem 1rem;
    margin-bottom: 6rem;
  }

  .price-rates {
    margin: 0 10rem;
  }

  /* .advantages {
    grid-template-columns: 1fr;
  } */
  /* .advantages ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  } */
  .advantages .number {
    margin-bottom: 2rem;
  }

}

@media (max-width: 800px){
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }


  .flag-container {display: none;}

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translatex(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide mobile nav */
    /* 1)hide element vissualy*/
    
    opacity: 0;
    /* 2)make it unaccessible to mouse and keyboard */
    pointer-events: none;
    visibility: hidden;

  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open  .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open  .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }
  .milestones-wrapper {
    grid-template-columns: 1fr;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .header-main-text {
    font-size: 2.4rem;
  }

  .advantages {
    margin: 4rem 7rem 0rem 7rem;
  }

  .inquairy {
    height: 100%;
    grid-template-columns: 40% 60%;
  }

    .test1 {
      width: 100%;
      margin-right: 0rem;
    }

}


@media (max-width: 650px) {
  html { 
    font-size: 45%; 
  }
  .nav-wrapper {
    height: 12rem;
  }

  .advantages {
    margin: 2rem 10rem;
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  .advantages-text-box{
    margin-top: 0;
    padding-top: 0;
  }

  .form-box {
    height: 60rem;
  }

  .milestones {
    justify-content: start;
  }
  .milestone {
    width: fit-content;
    grid-auto-flow: column;
    margin: 3rem auto;
    height:100%;
    font-size: 12rem;
    justify-content:start;
  }

  .milestone .milestonete-text {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .milestone i {
    height: 5rem;
    width: 5rem;
    font-size: 4rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 0 auto;
  }
  .milestone span {
    display: block;
    width: 100%;
  }

  .testimonial-section {
    margin: 0 10rem 6rem 10rem;
  }
  .testimonial-section .car-type-box { 
    padding: 8rem 0;
    height: 100%;
  }

   .cta-text-box {
    padding: 0rem 6.4rem 1.5rem 4.8rem;
  }
  

  .car-type-box i {
    font-size: 20rem;
    }

    .car-type {
      font-size: 4rem;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      margin-top: 4rem;
      }
      .car-type-description {
      padding: 0.4rem 2rem;
      font-size: 2.4rem;
      font-family: 'Poppins', sans-serif;
      }

  .inquairy {
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    height: 100%;
  }
  .test1 {
    margin: 5rem 0 0 0;
    align-self: end;
    justify-self: center;
  }

  .cta-text-box {
    height: 100%;
  }

  .car-categories {
    margin: inherit 4rem;
   }

  .car-categories-wrapper {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .advantages ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
  }

  .price-rates {
    margin: 0 3rem;
  }

  .price-rates li::before {
    width: 70%;
  }

  .mc-code .mc-label{
    font-size: 1.6rem;
  }
  .contact-number .contact span {
    font-size: 1.6rem;
  }
  #scrollUp {
    bottom: 8.5rem;
    font-size: 3rem;
  }

}

@media (max-width: 500px) {
  .testimonial-section{
      margin: 0 8rem 6rem 8rem;
  }
}

@media (max-width: 450px) {
  .header {
    height:50vh;
    background: url("../img/hero-img/hero-image-3-mobile.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .header h1 {
    font-size: 4rem;
  }
  .header .number {
    font-size: 5.5rem;
  }

}

@media (max-width: 450px) {
  .testimonial-section {
    margin: 0 1rem 6rem 1rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
    grid-template-areas:                      
      "name" 
      "email"                     
      "select"  
      "upload" 
      "contact"
      "btn";
  }

  
.name {
  width:94%;
}
.email {
  width:94%;
}
.select {
  width: 100%;
}

.cta-form {
  padding:2rem;
}

.mc-code{
  width:calc(100%-1rem);
}
.contact-number {
  width:102%;
}

.btn--form {
  width: 102%;
  padding: 3rem;
  margin: 0 auto;
}
.btn--form select, 
.btn--form input { 
  padding: 3rem;
}

.inquairy {
  height: 100%;
  display: flex;
  flex-direction: column;
} 

}
@media (max-width: 400px) {
  html { font-size: 30%; }


  .advantages-text-box ul  {
    overflow: auto;
  }
  .advantages-text-box ul li {
    padding-left: 4rem;
  }

  .testimonial-section {
    margin: 0 6rem 6rem 6rem;
  }
  .price-rates {
    margin: 0 4rem;
  }

  .inquairy {
    height: 100%;
    display: flex;
    flex-direction: column;
  } 
  .form-box {
    margin: 0 auto;
    margin-bottom: 9rem;
  }
  .inquairy input,
  .inquairy select {
    padding: 2rem;
  }

  .select {
    width: 106%;
  }

  .contact-number {
    width:106%;
  }

  .mc-code{
    width:96%;
  }
  
  .btn--form {
    width: 106%;
    padding: 3rem;
    margin: 0 auto;
  }
  
  .test1 {
    margin-top: 0;
    align-self: center;
  }
}

